.Header {
    background: #61dafb;
    display: flex;
    justify-content: space-around;
}
.Header .Head {
    display: flex;
    width: 50%;
}
.Header .Logo {
    width: 3rem;
    height: 3rem;
    float: left;
    padding: 5px 200px 5px 5px;
}
.Header .Title {
    float: left;
    font-size: large;
    font-weight: bold;
}