.Profile {
    width: 40%;
    margin: 10px auto;
}
.Profile ul {
    list-style: none;
    padding: 0;
    text-align: left;
}
.Profile ul li {
    display: flex;
    justify-content: space-between;
}

.Profile img {
    width: 10rem;
    height: 10rem;
}