.Ticket {
    background: darkGray;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5%;
}
/*     margin-right: ${props => (!!props.marginRight ? '1%' : '0')}; <<< does not work !! */
.Margin {
        margin-right: 1%;
    }  


.Title h3 { 
    width: 100%;
    margin: 0;
}

.Body {
    width: 100%;
}
